# Maven
target/
!target/*.jar

# IDEs and tooling
.idea/
*.iml

# Prevent local config from being baked into Docker images
application-local.yaml
.gitattributes
mvnw
mvnw.cmd
qodana.yaml
.mvn/wrapper/maven-wrapper.properties
.env
